@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Welcome @context.User.FindFirst(ClaimTypes.Name).Value
                    <Logout />
                </Authorized>
                <NotAuthorized>
                    <Login />
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<RadzenDialog/>
<RadzenNotification Style="top: unset !important; position:fixed !important;z-index:1002 !important;bottom:0px !important;float:right !important;right:10px !important;" />
<RadzenContextMenu/>
<RadzenTooltip/>
