@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Welcom @context.User.FindFirst(ClaimTypes.Name).Value
                    <NavLink class="nav-link" href="logout" title="Log Out">
                        <span class="oi oi-account-logout"></span> Log Out
                    </NavLink>
                    <NavLink class="nav-link" href="changePassword" title="Change password">
                        <span class="oi oi-list-rich"></span>
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <Login />
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
