@using UI.ApiLibrary.Dto.Post;



@if (CommentsList.ToList().Count == 0 || CommentsList is null)
{
    <p>No Comments found</p>
}
else
{
    @foreach (var comment in CommentsList.OrderByDescending(x => x.CreatedDate))
    {
        <div class="d-flex flex-row p-3">
            <a href="@($"userprofile/{comment.AuthorId}")">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" width="40" height="40" class="rounded-circle mr-3">
            </a>
            <div class="w-100 ms-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center"> <span class="mr-2"><strong>@comment.AuthorEmail</strong></span> <small class="c-badge"></small> </div> <small>@comment.CreatedDate</small>
                </div>
                <p class="text-justify comment-text mb-0">@comment.Content</p>
            @*  <div class="d-flex flex-row user-feed"> <span class="wish"><i class="fa fa-heartbeat mr-2"></i>Likes: 24</span> <span class="ml-3"><i class="fa fa-comments-o mr-2"></i>Reply</span> </div>*@
            </div>
        </div>
    }
}

@code {
    [Parameter]
    public IEnumerable<CommentReadModel> CommentsList { get; set; }
        
}
