@page "/post/add"
@using Blazored.LocalStorage;
@using UI.ApiLibrary.ApiEndpoints
@using UI.ApiLibrary.Dto
@using UI.ApiLibrary.Dto.Post;
@inject IPostEndpoint PostEndpoint
@inject NavigationManager NavManager
@inject IConfiguration Configuration
@inject ILocalStorageService LocalStorage
@attribute [Authorize]

<h3>Add your new post</h3>

<div class="container-fluid">
    <EditForm Model="Post" OnValidSubmit="ExecuteAdd" class="">
        <DataAnnotationsValidator />

        <div class="form-group row">
            <label for="Title" class="col-sm-2 col-form-label">Title: </label>
            <div class="col-sm-10">
                <InputText id="Title" class="form-control" @bind-Value="Post.Title" />
                <ValidationMessage For="@(() => Post.Title)" />
            </div>
        </div>
        <br />
        <RadzenHtmlEditor @bind-Value=@Post.Content UploadHeaders=@uploadHeaders UploadUrl=@fileUploadApiUrl style="height: 400px;" />
        <br />
        <div class="col-md-12 text-rigth">
            <button type="submit" class="btn btn-outline-success">Save Changes</button>
        </div>
    </EditForm>
</div>
@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    private AddPostDto Post = new();
    private string fileUploadApiUrl = "";
    private Dictionary<string, string> uploadHeaders = new();

    protected override async Task OnInitializedAsync()
    {
        fileUploadApiUrl = Configuration["apiGateway"] + "/upload/image";
        
        var isUserLoggedIn = (await AuthState).User.Identity.IsAuthenticated;
        if (isUserLoggedIn)
        {                
            var bearerTokenStorageKey = Configuration["bearerTokenStorageKey"];
            string token = await LocalStorage.GetItemAsync<string>(bearerTokenStorageKey);
            uploadHeaders.Add("Authorization", "bearer " + token);
        }
    }
    
    private async Task ExecuteAdd()
    {
        try
        {
            Post.Content = Post.Content.Sanitize();
            await PostEndpoint.Add(Post);
            //todo: inform about success
            NavManager.NavigateTo("posts");

        }
        catch (Exception ex)
        {
            //todo show error message
            Console.WriteLine(ex.Message);
        }
    }
}
