@page "/forgotPassword/{email}"
@inject IAuthenticationService AuthService
@inject NotificationService NotificationService
@inject NavigationManager NavManager

<h3>Forgot Password</h3>
<p>
    Do you want to reset your password?
    We will send reset url to your email: <b>@Email</b>
</p>

<button type="button" class="btn btn-outline-primary" @onclick=ExecuteForgotPassword>Yes</button>
<button type="button" class="btn btn-outline-secondary" @onclick="@(() => NavManager.NavigateTo(""))">Go back</button>

@code {
    [Parameter]
    public string Email { get; set; }

    public async Task ExecuteForgotPassword()
    {
        ForgotPasswordModel model = new() { Email = Email };
        try
        {
            await AuthService.ForgotPassword(model);
            var message = new NotificationMessage
            {

                Severity = NotificationSeverity.Success,
                Summary = "Password Reset Url Sent",
                Detail = "Check your email inbox",
                Duration = 4000
            };

            NotificationService.Notify(message);
            NavManager.NavigateTo("");

        }
        catch(Exception ex)
        {
            var message = new NotificationMessage
            {

                Severity = NotificationSeverity.Error,
                Summary = "Password Reset Error",
                Detail = ex.Message,
                Duration = 4000
            };
            NotificationService.Notify(message);
        }
    }
}
