@page "/"

@inject IJSRuntime JSRuntime

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<!--
<h1>Display Google Map</h1>
<div id="map" style="height:500px;width:100%;">
</div>
-->

@code{
    /*
     protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("googleMap", null); 
        }
    } 
     */
    
}
