@page "/logout"
@inject NavigationManager NavManager
@inject IAuthenticationService AuthService

<NavLink class="nav-link" style="cursor: pointer" @onclick="LogOut" title="Log out">
    <span class="oi oi-account-logout"></span>
</NavLink>
<NavLink class="nav-link" href="changePassword" title="Change password">
    <span class="oi oi-list-rich"></span>
</NavLink>

@code {
    protected async Task LogOut()
    {
        await AuthService.Logout();
    }
}